.profile-container {
    margin: 100px;
}

.student-details, .university-details, .answers-details {
    margin-bottom: 20px;
}

.answer {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
