<!-- changePassword.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>UniComm - Change Password</title>
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
   <link rel="stylesheet" href="/changePassword.css">
</head>
<body>
    <div class="change-password">
      <form id="changePasswordForm">
        <h2 class="change-password__title">Change Password</h2>
        <div class="change-password__content">
            <div class="change-password__box">
              <i class="ri-lock-2-line change-password__icon"></i>
              <div class="change-password__box-input">
                <input type="password" placeholder=" " id="password" name="password" required class="change-password__input">
                <label for="new-password" class="change-password__label">New Password</label>
              </div>
            </div>
            <div class="change-password__box">
              <i class="ri-lock-2-line change-password__icon"></i>
              <div class="change-password__box-input">
                <input type="password" placeholder=" " id="confirmPassword" name="confirmPassword" required class="change-password__input">
                <label for="confirm-password" class="change-password__label">Confirm Password</label>
              </div>
            </div>
        </div>
        <div class="change-password error"></div>
        <button type="submit" class="change-password__button">Change Password</button>
      </form>
    </div>

   <script src="/change_password.js"></script>
</body>
</html>
